body {
  background-color: black;
  color: white;
}
#title {
  color:purple;
  text-align: center;
  font-size: 2.5vw;
  font-weight: bolder;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
button :hover{
  opacity: 80%;
}